<h1>Greeted Users</h1>
{{#each greetedData}}
  <p>
    <a href="/counter/{{this.greetednames}}" class="nav-link text-info">
      {{this.greetednames}}
    </a>
  </p>
{{/each}}
<a href="/" class="nav-link text-info">Click here to go back to Greeting Form</a>




