<h1>Greeted Users</h1>
{{#each greetedNames}}
  <p><a href="/counter/{{this.name}}" class="nav-link text-info">{{this.name}}</a></p>
{{/each}}
<a href="/" class="nav-link text-info">Click here to go back to Greeting Form</a>