
.counter {
    padding: 20px;
    font-size: 35px;
    font-weight: 100;
}

.errorMessage {
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.red {
    color: red;
    font-size: large;
}

.enteredName {
    border-color:  linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(0,255,255,1) 54%);;
    border-width: 0.5px;
    border-radius: 5px;
}

.helloName {
    font-size: xx-large;
}
