
.counter {
    padding: 20px;
    font-size: 50px;
    font-weight: 100;
}

.errorMessage {
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.red {
    color: red;
    font-size: xx-large;
}

.enteredName {
    border-color: cyan;
    border-width: 0.5px;
    border-radius: 5px;
}
.box-radio input[type="radio"] {
    border-color: cyan;
  }
.helloName {
    font-size: xx-large;
}
